*{
    margin: 0;
    padding: 0;
}


.menu{
    width: 70%;
    height: 50px;
    position: fixed;
    display: flex;
    top: 50px;
    margin-left: 260px;
}

.menu label{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;  
    transition: all .4s;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    color: white;
}

.content-1 {
    width: 50%;
    height: 65%;
    margin-top: 30px;
    margin-right: 90px;
    text-align: left;
    display: block;
    position: sticky;
}

.content-1 h2{
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    color: rgb(17, 17, 17);
    margin-bottom: 26px;
}


.content-1 p{
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    color: rgb(27, 27, 26);
    letter-spacing: 0.1px;
    
}

.content-2 {
    width: 50%;
    height: 70%;
    margin-right: 90px;
    text-align: left;
    position: sticky;
    font-family: 'Dosis', sans-serif;

}

.content-2 h2{
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color: rgb(17, 17, 17);
    margin-bottom: 4px;
    margin-top: 4px;
    line-height: 50px;
}

.content-2 h4{
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: rgba(27, 27, 26);
    padding-bottom: 2px;
}


.content-2 p{
    font-size: 15px;
    color: rgb(27, 27, 26);
    letter-spacing: 0.1px;
    margin-top: 5px;
}


.menu label:hover{
    background-color: rgba(65, 70, 71, 0.979);
}

.telas input{
    display: none;
}

.telas{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.secoes{
    transition: all .4s;
}

#rd_treinamentos:checked ~ .secoes{
    margin-top: -100vh;
}

#rd_contato:checked ~ .secoes{
    margin-top: -200vh;
}

#rd_sobre:checked ~ .secoes{
    margin-top: -300vh;
}

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#home{
    background-color: #59928b;
}

#treinamentos{
    background-color: #8ea7a4;
}

#contato{
    background-color: #19a089;
}

#sobre{
    background-color: aquamarine;
}

#check {
    display: none;
}

.vertical{
    height: 100%;
    position: fixed;
    background-color:black;
    top: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all .2s;
}

#lateral{
    width: 240px;
    left: -240px;
}

ul {
    list-style: none;
}

ul li a{
    display: block;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    border-bottom: 2px solid #535756; 
    color: rgb(10, 10, 10);
    text-decoration: none;
    transition: all .2s;
    background-color:#27ecd4;
}

ul li span{
    float: right;
    padding-right: 10px;
}



ul li a:hover{
    background-color: rgba(86, 241, 216, 0.61);
}

.voltar {
    margin-top: 100px;
    background-color: #59928b;
    border-left: solid 5px #046656;
}

.avulsa{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0, .6);
    display: none;
}

#check:checked ~ .avulsa{
    display: block;
}

#check:checked ~ #lateral{
    transform: translateX(240px);
}

#check:checked ~ .vertical ul li{
    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;
}

#cursos,
#gestao{
    width: 240px;
    left: -240px;
}

#cursos:target,
#gestao:target {
    transform: translateX(240px);
}

#icone {
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    position: fixed;
    padding-top: 20px;
}

#icon-2{
    width: 70px;
    height: 60px;
    right: 50px;
    padding: 20px;
    padding-left: 110px;
    padding-top: 15px;
}


@media(max-width: 800px){
    .telas .menu section{
        width: 100%;
        float: none;
    }
    .telas .menu section{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .telas .menu:hover section{
        height: auto;
        max-height: 400px;
    }
}