*{
    margin: 0;
    padding: 0;
}


.menu{
    width: 70%;
    height: 50px;
    position: fixed;
    display: flex;
    top: 50px;
    margin-left: 260px;
}

.menu label{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;  
    transition: all .4s;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    color: white;
}

.menu label:hover{
    background-color: rgba(65, 70, 71, 0.979);
}

.telas input{
    display: none;
}

.telas{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.secoes{
    transition: all .4s;
}

#rd_treinamentos:checked ~ .secoes{
    margin-top: -100vh;
}

#rd_contato:checked ~ .secoes{
    margin-top: -200vh;
}

#rd_sobre:checked ~ .secoes{
    margin-top: -300vh;
}

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#home{
    background-color: #59928b;
}

#treinamentos{
    background-color: #8ea7a4;
}

#contato{
    background-color: #19a089;
}

#sobre{
    background-color: aquamarine;
}

.vertical{
    top: 0;
    background-color:black;
    width: 240px;
    height: 100%;
    position: fixed;
    transition: all .2s linear;
    left: -240px;
}


.vertical a{
    text-decoration: none;
}

.vertical nav{
    width: 100%;
}

#check {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 15px;
    z-index: 1;
    position: fixed;
    padding-top: 15px;
}

#icon-2{
    width: 60px;
    height: 60px;
    padding: 20px;
    padding-left: 170px;
    padding-top: 10px;
}

.link{
    background-color:#27ecd4;
    padding: 20px;
    font-family: 'Quicksand', sans-serif; 
    font-size: 12pt;
    transition: all .2s linear;
    color: rgb(5, 3, 3);
    font-weight: bold;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;
}

.link:hover{
    background-color: #35cab9a1;
    color: white; 
}

#check:checked ~ .vertical{
    transform: translateX(240px);
}

#check:checked ~ .vertical .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;
}

@media(max-width: 800px){
    .telas .menu section{
        width: 100%;
        float: none;
    }
    .telas .menu section{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .telas .menu:hover section{
        height: auto;
        max-height: 400px;
    }
}